{% extends 'base.html.twig' %}

{% block head_title %}
    TreeBundle
{% endblock %}

{% block main %}
    <h1>Services</h1>
    {% for name, service in services %}
        <h2>
            Service
            {{ name }}
        </h2>
        {{ dump(service) }}
    {% endfor %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-kernel-tab" data-bs-toggle="tab" data-bs-target="#nav-kernel" type="button" role="tab" aria-controls="nav-kernel" aria-selected="true">kernel</button>
            <button class="nav-link" id="nav-container-tab" data-bs-toggle="tab" data-bs-target="#nav-container" type="button" role="tab" aria-controls="nav-container" aria-selected="false">container</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-kernel" role="tabpanel" aria-labelledby="nav-kernel-tab">{{ dump(kernel) }}</div>
        <div class="tab-pane fade" id="nav-container" role="tabpanel" aria-labelledby="nav-container-tab">{{ dump(container) }}</div>
    </div>
{% endblock %}
