<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block head_title %}
                Tree
            {% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 20 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="row">
                <div class="col-3">
                    {% block side %}
                        <div class="list-group">
                            <a href="/" class="list-group-item list-group-item-action">
                                Home
                            </a>
                        </div>

                    {% endblock %}
                </div>
                <div class="col-9">
                    {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
